{extends file="mangopay.tpl"}
{default_translation_domain domain='paymentmangopay.bo.default'}

{block name="no-return-functions"}
{$admin_current_location = 'modules'}
{/block}

{block name="page-title"}Mangopay{/block}

{block name="check-resource"}admin.module{/block}
{block name="check-access"}view{/block}
{block name="check-module"}Mangopay{/block}

{block name="main-content"}
<div id="wrapper" class="container">

    {if $general_error}
    <div class="alert alert-danger">
        {$general_error}
    </div>
    {/if}

    <div class="general-block-decorator">
        {include file="includes/mangopay_menu.html" selected_menu="users"}

        <ol class="breadcrumb">
            <li class="active">{intl l='Users list' d='paymentmangopay.bo.default'}</li>
        </ol>

        <div class="btn-group pull-right">
            <a class="btn btn-primary action-btn" title="{intl l='Add natural user' d='paymentmangopay.bo.default'}" href="#naturaluser_creation_dialog" data-toggle="modal">
            <span class="glyphicon glyphicon-user" ></span> {intl l='Add natural user' d='paymentmangopay.bo.default'}
            </a>
            <a class="btn btn-primary action-btn" title="{intl l='Add legal user' d='paymentmangopay.bo.default'}" href="#legaluser_creation_dialog" data-toggle="modal">
            <span class="glyphicon glyphicon-home"></span> {intl l='Add legal user' d='paymentmangopay.bo.default'}
            </a>
        </div>

        <table class="table table-striped table-hover table-condensed">
            <tr>
                <th>#</th>
                <th>Type</th>
                <th>Email</th>
                <th>Tag</th>
                <th></th>
            </tr>
            {loop type="mangopayapiusersloop" name="mangopayapiusersloop"}
            <tr>
                <td>{$ID}</td>
                <td>{$PERSON_TYPE}</td>
                <td>{$EMAIL}</td>
                <td>{$TAG}</td>
                <td>
                    <div class="btn-group">
                        {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.module" access="UPDATE" module="PaymentMangopay"}
                            {if $PERSON_TYPE eq "NATURAL"}
                            <a class="btn btn-default btn-xs mangopay-ajax-action" title="{intl l='Edit this user' d='paymentmangopay.bo.default'}"  href="{url path="/admin/module/PaymentMangopay/user/$ID/naturaluser-edit-modal"}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            {else}
                            <a class="btn btn-default btn-xs mangopay-ajax-action" title="{intl l='Edit this user' d='paymentmangopay.bo.default'}"  href="{url path="/admin/module/PaymentMangopay/user/$ID/legaluser-edit-modal"}">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            {/if}

                            <a class="btn btn-default btn-xs" title="{intl l='View wallet' d='paymentmangopay.bo.default'}"  href="{url path="/admin/module/PaymentMangopay/user/$ID/view-wallet"}">
                                <i class="glyphicon glyphicon-euro"></i>
                            </a>
                        {/loop}
                        {* We can't delete user with mangopay api !!! *}
                    </div>
                </td>
            </tr>
            {/loop}
        </table>

    </div>
</div>

<div class="modal fade" id="naturaluser_creation_dialog" tabindex="-1" role="dialog" aria-labelledby="naturaluser_creation_dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{intl l='Add natural user' d='paymentmangopay.bo.default'}</h4>
			</div>
			{form name="naturaluser.mangopay.creation"}

			<form action="{url path="/admin/module/PaymentMangopay/naturaluser/add"}" method="post" role="form">
			<div class="modal-body">

				{form_hidden_fields form=$form}

				{render_form_field form=$form field="success_url" value={url path="/admin/module/PaymentMangopay/naturaluser/add"}}
                <div class="row">
                    <div class="col-md-6">
                        {form_field form=$form field='email'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='firstname'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='lastname'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='birthday'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='nationality'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ID}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}

                        {form_field form=$form field='countryofresidence'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ID}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}
                    </div>
                    <div class="col-md-6">
                        {form_field form=$form field='addressline1'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}
                        {form_field form=$form field='addressline2'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}
                        {form_field form=$form field='city'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}
                        {form_field form=$form field='region'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}
                        {form_field form=$form field='postalcode'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}
                        {form_field form=$form field='country'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ID}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}

                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<button type="submit" class="btn btn-info">Ok</button>
			</div>

			</form>
			{/form}
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="legaluser_creation_dialog" tabindex="-1" role="dialog" aria-labelledby="legaluser_creation_dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">{intl l='Add legal user' d='paymentmangopay.bo.default'}</h4>
			</div>
			{form name="legaluser.mangopay.creation"}

			<form action="{url path="/admin/module/PaymentMangopay/legaluser/add"}" method="post" role="form">

			<div class="modal-body">

				{form_hidden_fields form=$form}

				{render_form_field form=$form field="success_url" value={url path="/admin/module/PaymentMangopay/legaluser/add"}}
                <div class="row">

                    <div class="col-md-6">
                        {form_field form=$form field='Email'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='Name'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalPersonType'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr} >
                                <option value="BUSINESS">BUSINESS</option>
                                <option value="ORGANIZATION">ORGANIZATION</option>
                            </select>
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressAddressLine1'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressAddressLine2'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressCity'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressRegion'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressPostalCode'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='HeadquartersAddressCountry'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ISOALPHA2}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}
                    </div>

                    <div class="col-md-6">

                        {form_field form=$form field='LegalRepresentativeFirstName'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeLastName'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressAddressLine1'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressAddressLine2'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressCity'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressRegion'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressPostalCode'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeAddressCountry'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ISOALPHA2}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeEmail'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeBirthday'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <input type="text" id="{$label_attr.for}" required="required" name="{$name}" class="form-control" value="{$value}" title="{$label}" placeholder="{$label}">
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeNationality'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ISOALPHA2}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}

                        {form_field form=$form field='LegalRepresentativeCountryOfResidence'}
                        <div class="form-group {if $error}has-error{/if}">
                            <label class="control-label">{$label}</label>
                            <select name="{$name}" id="{$label_attr.for}" class="form-control {if $required} required {/if}" {if $required} required {/if} {$attr}>
                                <option value="">-- {intl l="Select Country"} --</option>
                                {loop type="country" name="country.list"}
                                <option value="{$ISOALPHA2}"
                                        {if $value != ""}
                                        {if $value == $ISOALPHA2}selected{/if}
                                {else}
                                {if $IS_DEFAULT}selected{/if}
                                {/if}

                                >{$TITLE}</option>
                                {/loop}
                            </select>
                        </div>
                        {/form_field}

                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				<button type="submit" class="btn btn-info">Ok</button>
			</div>

			</form>
			{/form}
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{/block}

