<ul>
    <li><input type="radio" name="CardType" value="CB_VISA_MASTERCARD" checked="checked">CB_VISA_MASTERCARD</input></li>
    <li><input type="radio" name="CardType" value="MAESTRO">MAESTRO</input></li>
    <li><input type="radio" name="CardType" value="DINERS">DINERS</input></li>
    <li><input type="radio" name="CardType" value="P24">P24</input></li>
    <li><input type="radio" name="CardType" value="IDEAL">IDEAL</input></li>
    <li><input type="radio" name="CardType" value="BCMC">BCMC</input></li>
    <li><input type="radio" name="CardType" value="MASTERPASS">MASTERPASS</input></li>
</ul>